<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybaits.mapper.UserMapper">
  <resultMap id="findAccessAndInfoAndNameByIdAndAccessResult"
             type="com.example.mybaits.mapper.FindAccessAndInfoAndNameByIdAndAccessResult">
    <result column="access" property="access"/>
    <result column="info" property="info"/>
    <result column="name" property="name"/>
  </resultMap>
  <resultMap id="findNameAndPasswordByIdAndNameAndPasswordResult"
             type="com.example.mybaits.mapper.FindNameAndPasswordByIdAndNameAndPasswordResult">
    <result column="name" property="name"/>
    <result column="password" property="password"/>
  </resultMap>
  <resultMap id="findIdAndNameByIdResult" type="com.example.mybaits.mapper.FindIdAndNameByIdResult">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>
    <resultMap id="BaseResultMap" type="com.example.mybaits.entity.User">
    <!--@mbg.generated-->
    <!--@Table user-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="access" jdbcType="VARCHAR" property="access" />
    <result column="info" jdbcType="VARCHAR" property="info" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, `password`, `access`, info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.mybaits.entity.User">
    <!--@mbg.generated-->
    insert into user (id, `name`, `password`,
      `access`, info)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{access,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.mybaits.entity.User">
    <!--@mbg.generated-->
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="access != null">
        `access`,
      </if>
      <if test="info != null">
        info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="access != null">
        #{access,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.mybaits.entity.User">
    <!--@mbg.generated-->
    update user
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="access != null">
        `access` = #{access,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.mybaits.entity.User">
    <!--@mbg.generated-->
    update user
    set `name` = #{name,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      `access` = #{access,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2019-11-03-->
  <select id="findIdAndNameById" resultMap="findIdAndNameByIdResult">
        select id, `name`
        from user
        where id=#{id,jdbcType=VARCHAR}
    </select>

<!--auto generated by MybatisCodeHelper on 2019-11-03-->
    <select id="findNameAndPasswordByIdAndNameAndPassword" resultMap="findNameAndPasswordByIdAndNameAndPasswordResult">
    select `name`, `password`
    from user
    where id=#{id,jdbcType=VARCHAR} and `name`=#{name,jdbcType=VARCHAR} and `password`=#{password,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2019-11-03-->
  <select id="findAccessAndInfoAndNameByIdAndAccess" resultMap="findAccessAndInfoAndNameByIdAndAccessResult">
    select `access`, info, `name`
    from user
    where id=#{id,jdbcType=VARCHAR} and `access`=#{access,jdbcType=VARCHAR}
  </select>
</mapper>
